                    <b class="hnname">
                    <a href="">Hacker News &ensp;</a>
                    </b>
                    <a href="">welcome</a>
                    |
                    <a href="">new</a>
                    |
                    <a href="">threads</a>
                    |
                    <a href="">past</a>
                    |
                    <a href="">comments</a>
                    |
                    <a href="">ask</a>
                    |
                    <a href="">show</a>
                    |
                    <a href="">jobs</a>
                    |
                    <a href="/submit">submit</a>
                    </span>
                  </td>
                  <td class="login">
                    <span class="pagetop">
                      <a id="me" href="">Bagansio</a>
                       (1) |
                      <a id="logout" href="">logout</a>
                    </span>
