<body cz-shortcut-listen="true">
    {% load static %}
    <div class="center">
      <table id="hnmain"  cellspacing="0" cellpadding="0" bgcolor="#f6f6ef">
        <tbody>
        {% include "core/header.html" with header_type='main' %}
        <tr id="pagespace" />
        <tr>
          <td id="content">
            <table>
              <tbody>

              {% for i,submit in submits %}
              <tr class="athing" id="{{ submit.id }}">
                <td align="right" valign="top" class="title">
                  <span class="rank">{{ i }}.</span>
                </td>

                <td valign="top" class="votelinks">
                  /\
                </td>
                <td class="title">
                  <a href="{{ submit.url }}" class="titlelink">
                    {{  submit.title }}
                  </a>
                  <span class="sitebit comhead">
                    " ("
                    <a href=""> <span class="sitestr">test.com</span></a>
                    ")"
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"/>
                <td class="subtext">
                  <span class="score" id="score_{{ submit.id }}">100 points</span>
                  " by "
                  <a href="" class="hnuser">{{ submit.author.username }}</a>
                  <span class="age" title="{{ submit.created_at }}">
                    <a href="">{{ submit.created_at }}</a>
                  </span>
                </td>
              </tr>

              <tr class="spacer" style="height:5px"/>

              {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
