<body cz-shortcut-listen="true">
    {% load static %}
    <div class="center">
      <table id="hnmain"  cellspacing="0" cellpadding="0" bgcolor="#f6f6ef">
        <tbody>
        {% include "core/header.html" with header_type='main' %}
        <tr id="pagespace" />
        <tr>
          <td id="content">
            <table>
              <tbody>

              {% for submission in submissions %}
              <tr class="athing" id="{{ submission.id }}">
                <td align="right" valign="top" class="title">
                  <span class="rank">{{  forloop.counter }}.</span>
                </td>

                <td valign="top" class="votelinks">
                  <a id="up_{{ submission.id }}" class="clicky" href="">
                    <div class="votearrow" title="upvote"></div>
                  </a>
                </td>
                <td class="title">
                  <a href="{{ submission.url }}" class="titlelink">
                    {{  submission.title }}
                  </a>
                  <span class="sitebit comhead">
                     (
                    <a href=""> <span class="sitestr">test.com</span></a>
                    )
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"/>
                <td class="subtext">
                  <span class="score" id="score_{{ submission.id }}">100 points</span>
                   by
                  <a href="" class="hnuser">{{ submission.author.username }}</a>
                  <span class="age" title="{{ submission.created_at }}">
                    <a href=""> {{ submission.created_at|timesince }} ago </a>
                  </span>
                </td>
              </tr>

              <tr class="spacer" style="height:5px"/>

              {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
