{% extends 'core/base.html' %}
{% load filters %}

{% block navbar %}
  {% include 'core/navbar/home.html' %}
{% endblock %}

{% block content %}
 <table>
              <tbody>
              {% for submission in submissions %}
                {% if submission|is_url %}
                  {% include 'core/utils/submission/url.html' %}
                {% else %}
                  {% include 'core/utils/submission/ask.html' %}
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
{% endblock %}
