{% extends 'core/base.html' %}
{% load filters %}

{% block navbar %}
  {% include 'core/navbar/home.html' %}
{% endblock %}

{% block content %}
 <table>
              <tbody>
              {% for submission in submissions %}
              <tr class="athing" id="{{ submission.id }}">
                <td align="right" valign="top" class="title">
                  <span class="rank">{{  forloop.counter }}.</span>
                </td>


                {% include 'core/utils/vote.html' with vote_link='vote' item=submission item_voted=submission.id|is_voted:votes %}

                <td class="title">
                  <a href="{{ submission.url }}" class="titlelink">
                    {{  submission.title }}
                  </a>
                  <span class="sitebit comhead">
                     (
                    <a href=""> <span class="sitestr">test.com</span></a>
                    )
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"/>
                <td class="subtext">
                  <span class="score" id="score_{{ submission.id }}">{{ submission.votes }} points</span>
                   by
                  <a href="{% url 'profile' submission.author %}" class="hnuser"> {{ submission.author }} </a>
                  <span class="age" title="{{ submission.created_at }}">
                    <a href=""> {{ submission.created_at|timesince }} ago </a>
                  </span>

                  {% include 'core/utils/unvote.html' with vote_link='unvote' item=submission item_voted=submission.id|is_voted:votes %}

                   |
                  <a href="{% url 'comments' submission.id %}">
                    {% if submission.comments == 0 %}
                     disscuss
                    {% else %}
                     {{ submission.comments }} comments
                    {% endif %}
                  </a>
                </td>
              </tr>

              <tr class="spacer" style="height:5px"/>

              {% endfor %}
              </tbody>
            </table>
{% endblock %}
