{% extends 'core/base.html' %}

{% block navbar %}
  {% include 'core/navbar/home.html' %}
{% endblock %}

{% block content %}
 <table>
              <tbody>
              {% for submission in submissions %}
              <tr class="athing" id="{{ submission.id }}">
                <td align="right" valign="top" class="title">
                  <span class="rank">{{  forloop.counter }}.</span>
                </td>

                <td valign="top" class="votelinks">
                  {% if user == submission.author %}
                  <div style="color:red;"> *</div>

                  {% else %}


                    {% if submission.id in votes %}
                      <a id="up_{{ submission.id }}" class="nosee clicky" href="{% url 'vote' submission.id %}">
                    {% else %}
                      <a id="up_{{ submission.id }}" class="clicky" href="{% url 'vote' submission.id %}">
                    {% endif %}
                        <div class="votearrow" title="upvote"> </div>
                      </a>


                  {% endif %}
                </td>
                <td class="title">
                  <a href="{{ submission.url }}" class="titlelink">
                    {{  submission.title }}
                  </a>
                  <span class="sitebit comhead">
                     (
                    <a href=""> <span class="sitestr">test.com</span></a>
                    )
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2"/>
                <td class="subtext">
                  <span class="score" id="score_{{ submission.id }}">{{ submission.votes }} points</span>
                   by
                  <a href="" class="hnuser">{{ submission.author.username }}</a>
                  <span class="age" title="{{ submission.created_at }}">
                    <a href=""> {{ submission.created_at|timesince }} ago </a>
                  </span>


                  {% if submission.id in votes %}
                  <span id="unv_{{ submission.id }}">
                    |
                    <a id="un_{{ submission.id }}" class="clicky" href="{% url 'unvote' submission.id %}">unvote</a>
                  </span>
                  {% endif %}
                   |
                  <a href="{% url 'comments' submission.id %}">
                    {% if submission.comments == 0 %}
                     disscuss
                    {% else %}
                     {{ submission.comments }} comments
                    {% endif %}
                  </a>
                </td>
              </tr>

              <tr class="spacer" style="height:5px"/>

              {% endfor %}
              </tbody>
            </table>
{% endblock %}
