{% extends 'core/base.html' %}
{% load filters %}

{% block navbar %}
  {% include 'core/navbar/home.html' %}
{% endblock %}

{% block content %}
  <table class="fatitem" border="0">
    <tbody>
      <tr class="athing" id="{{ submission.id }}">
        <td align="right" valign="top" class="title">
          <span class="rank"></span>
        </td>

        {% include 'core/utils/vote.html' with vote_link='vote' item=submission item_voted=voted %}

      <td class="title">
        <a href="" class="titlelink">{{ submission.title }}</a>
      </td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td class="subtext">
          <span class="score" id="score_{{ submission.id }}">{{ submission.votes }} points</span>
           by
          <a href="{% url 'profile' submission.author %}" class="hnuser"> {{ submission.author }} </a>
          <span class="age" title="{{ submission.created_at }}">
            <a href="">{{ submission.created_at|timesince }} ago </a>
          </span>

          {% include 'core/utils/unvote.html' with vote_link='unvote' item=submission item_voted=voted %}

        </td>
      </tr>

       <tr>
          <td colspan="2"></td>
          {% if submission.text is not None %}
          <td> {{ submission.text }}
         {% endif %}
        </tr>

      <tr style="height:2px"></tr>


          {% if user.is_authenticated %}
            {% include 'comments/utils/form.html' with button_text='add comment' %}
          {% else %}
            {% include 'comments/utils/loginForm.html'  with button_text='add comment' %}
          {% endif %}


    </tbody>
  </table>

  <table border="0" class="comment-tree">
    <tbody>
      {% include 'comments/utils/comment.html' %}
    </tbody>
  </table>
{% endblock %}
