{% extends 'core/base.html' %}
{% load filters %}

{% block navbar %}
  {% include 'core/navbar/home.html' %}
{% endblock %}

{% block content %}
  <table class="fatitem" border="0">
    <tbody>
      <tr class="athing" id="{{ submission.id }}">
        <td align="right" valign="top" class="title">
          <span class="rank"></span>
        </td>

        {% include 'core/utils/vote.html' with vote_link='vote' item=submission item_voted=voted %}

      <td class="title">
        <a href="" class="titlelink">{{ submission.title }}</a>
      </td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td class="subtext">
          <span class="score" id="score_{{ submission.id }}">{{ submission.votes }} points</span>
           by
          <a href="{% url 'profile' submission.author %}" class="hnuser"> {{ submission.author }} </a>
          <span class="age" title="{{ submission.created_at }}">
            <a href="">{{ submission.created_at|timesince }} ago </a>
          </span>

          {% include 'core/utils/unvote.html' with vote_link='unvote' item=submission item_voted=voted %}

        </td>
      </tr>

      <tr style="height:2px"></tr>



          <form action="" method="post">
            {% csrf_token %}
            <tr>
            <td colspan="2"></td>
            {% for field in form.visible_fields %}
            <td>
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
            </td>
            </tr>

            <tr>
              <td  colspan="2"/>
              <td>
              <input type="submit" value="add comment">
              </td>
            </tr>

            {% endfor %}

          </form>

    </tbody>
  </table>

  <table border="0" class="comment-tree">
    <tbody>
      {% for comment in comments %}
        <tr class="athing comtr" id="cm_{{comment.id}}">
          <td>
            <table border="0">
              <tbody>
                <tr>
                  <td class="ind" indent="{{ comment.level }}">
                    <div style="height:1px; width: {%  widthratio comment.level 1 40 %}px;"
                  </td>


                  {% include 'core/utils/vote.html' with vote_link='voteComment' item=comment item_voted=comment.id|is_voted:votes %}


                  <td class="default">
                    <div style="margin-top:2px; margin-bottom-10px;">
                      <span class="comhead">
                        <a href="{% url 'profile' comment.author %}" class="hnuser"> {{ comment.author }} </a>
                        <span class="age" title="{{ comment.created_at }}">
                           <a href="">{{ comment.created_at | timesince }} ago </a>
                        </span>
                        {% include 'core/utils/unvote.html' with vote_link='unvoteComment' item=comment item_voted=comment.id|is_voted:votes %}
                      </span>
                    </div>
                    <br/>
                    <div class="comment">
                      <span class="comtext c00">
                        {{ comment.text }}
                        <br/>
                        <div class="reply">
                          <p>
                              <u>
                                <a href="{% url 'reply' comment.id %}">reply</a>
                              </u>
                          </p>
                        </div>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
