{% extends 'core/navbar/base.html' %}

{% block insideNav %}
  <b class="hnname">
  <a href="">Hacker News &ensp;</a>
  </b>
  <a href="">welcome</a>
  |
  <a href="">new</a>
  |
  <a href="">threads</a>
  |
  <a href="">past</a>
  |
  <a href="">comments</a>
  |
  <a href="">ask</a>
  |
  <a href="">show</a>
  |
  <a href="">jobs</a>
  |
  <a href="/submit">submit</a>
  </span>
  </td>
  <td class="login">
  <span class="pagetop">

  {% load socialaccount %}
  {% if user.is_authenticated %}
  <a id="me" href="">{{ user.username }}</a>

  (1) |

  <form class="forms" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="account" type="submit">Logout</button>
  </form>
  {% else %}

  <form method="post" action="{% provider_login_url "github" process="login" method="oauth2" %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="account" type="submit">Login</button>
  </form>

  {% endif %}
  </span>

{% endblock %}
