{% extends 'core/navbar/base.html' %}

{% block insideNav %}
  <b class="hnname">
  <a href="">Hacker News &ensp;</a>
  </b>
  <a href="">welcome</a>
  |
  <a href="">new</a>
  |
  <a href="">threads</a>
  |
  <a href="">past</a>
  |
  <a href="">comments</a>
  |
  <a href="">ask</a>
  |
  <a href="">show</a>
  |
  <a href="">jobs</a>
  |
  <a href="/submit">submit</a>
  </span>
  </td>
  <td class="login">
  <span class="pagetop">

  {% load socialaccount %}
  {% if user.is_authenticated %}
    {% include 'core/navbar/login/login.html' %}
  {% else %}
    {% include 'core/navbar/login/logout.html' %}
  {% endif %}
  </span>

{% endblock %}
