{% extends 'core/navbar/base.html' %}

{% block insideNav %}
  {% load socialaccount %}
  <b class="hnname">
  <a href="{% url 'news' %}">Hacker News &ensp;</a>
  </b>
  <a class="{% if request.resolver_match.url_name == 'newest' %} active {% endif %}" href="{% url 'newest' %}">new</a>
  {% if user.is_authenticated %}
  |
  <a class="{% if request.resolver_match.url_name == 'threads' %} active {% endif %} " href="{% url 'threads' user%}">threads</a>
  {% endif %}
  |
  <a class="{% if request.resolver_match.url_name == 'ask' %} active {% endif %}" href="{% url 'ask' %}">ask</a>
  |
  {% if user.is_authenticated %}
    <a href="/submit">submit</a>
  {% else %}
     {% include 'core/navbar/login/login.html' with login_text='submit' redirect_url='/submit/' %}
  {% endif %}
  </span>
  </td>
  <td class="login">
  <span class="pagetop">


  {% if user.is_authenticated %}

     <a id="me" href="{% url 'profile' user%}">{{ user.username }}</a>
      (1) |

    {% include 'core/navbar/login/logout.html' %}

  {% else %}
    {% include 'core/navbar/login/login.html' with login_text='Login' redirect_url=request.path %}
  {% endif %}
  </span>

{% endblock %}
