{# vote_link (name of a view - string variable) #}
{# item (submission or comment) #}
{# item_voted (if its voted by user - boolean) item.id in votes#}

<td valign="top" class="votelinks">
  {% load socialaccount %}
  {% if user == item.author %}
  <div style="color:red;"> *</div>

  {% else %}


  {% if item_voted %}
  <a id="up_{{ item.id }}" class="nosee clicky" href="{% url vote_link item.id %}">
  {% else %}
      <a id="up_{{ item.id }}" class="clicky" href="{% url vote_link item.id %}">
  {% endif %}
  <div class="votearrow" title="upvote"> </div>
  </a>


  {% endif %}
</td>
